# Virtual environments
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc

# Node modules (for TypeScript/JavaScript projects)
**/node_modules/
**/build/
**/dist/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
